@{
  Layout = "_Layout";
}

@model Curriculum.Models.Track

<h2>Track Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (Model.Lessons.Count == 0)
{
  <h4>There are no lessons belonging to this track</h4>
}
else
{
  <h4>Lessons in this track:</h4>
  <ul>
    @foreach(var join in Model.Lessons)
    {
      <li>@join.Lesson.Title</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Track", "Edit", new { id = Model.TrackId })</p>
<p>@Html.ActionLink("Delete Track", "Delete", new { id = Model.TrackId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>