@{
  Layout = "_Layout";
}

@model Curriculum.Models.Lesson

<h2>Edit</h2>

<h4>Edit this lesson: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LessonId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  @Html.LabelFor(model => model.Content)
  @Html.EditorFor(model => model.Content)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Return to details", "Details", new { id = Model.LessonId })</p>
