@{
  Layout = "_Layout";
}

@model Curriculum.Models.Lesson

<h2>Add a track</h2>

<h4>Add a track to this task: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LessonId)

  @Html.Label("Select track")
  @Html.DropDownList("TrackId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Return to details", "Details", new { id = Model.LessonId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>