<div class="header">
  <div class="home">
    <% if current_user %>
      <h3><%= current_user.email %> | <%= link_to "Sign out", '/signout' %></h3>
    <% else %>
      <h3><%= link_to "Sign up", '/signup' %> | <%= link_to "Sign in", '/signin' %></h3>
    <% end %>
  </div>
  <div class="title">
    <h3><a href="/">travis' dopest curriculum</a></h3>
  </div>
  <div class="links">
    <h4><%=link_to "tracks", tracks_path %></h4>
    <h4><%=link_to "lessons", lessons_path %></h4>
  </div>
</div>